﻿@model Latihan.Models.GlobalCode.PagedAnggotaModel
@{
    ViewBag.Title = "LIST DATA ANGGOTA";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebGrid grid = new WebGrid(rowsPerPage: Model.PageSize);
    grid.Bind(Model.lAnggota, autoSortAndPage: false, rowCount: Model.TotalRows);
}

<script src="~/Script/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">

    $(".add").live("click", function () {

        var existrow = $('.save').length;
        if (existrow == 0) {
            var index = $("#grid tbody tr").length + 1;

            var Kode = "Kode_" + index;
            var Nama = "Nama_" + index;
            var Otority = "Otority_" + index;
            var Status = "Status_" + index;
            var Save = "Save_" + index;
            var Cancel = "Cancel_" + index;

            var tr = '<tr class="alternate-row"><td></td><td><span> <input id="' + Kode + '" type="text" /></span></td>' +
                 '<td><span> <input id="' + Nama + '" type="text" /></span></td>' +
                 '<td><span> <input id="' + Otority + '" type="text" /></span></td>' +
                 '<td><span> <input id="' + Status + '" type="checkbox" /></span></td>' +
                 '<td> <a href="#" id="' + Save + '" class="save">Save</a>  <a href="#" id="' + Cancel + '" class="icancel">Cancel</a></td>' +
             '</tr>';

            $("#grid tbody").append(tr);
        }
        else {
            alert('First Save your previous record !!');
        }

    });

    $(".icancel").live("click", function () {
        var flag = confirm('Are you sure to cancel ');
        if (flag) {            
            $(this).parents("tr").remove();
        }

    });

    $(".save").live("click", function () {
        var str = $(this).attr("id").split("_");
        var id = str[1];        
        var Kode = $("#Kode_" + id).val();
        var Nama = $("#Nama_" + id).val();
        var Otority = $("#Otority_" + id).val();
        var Status = $("#Status_" + id).val();

        var flag = confirm('Are you sure to want to save ??');
        if (id != "" && flag) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("SaveRecord", "Home")',
                data: { "gKode": Kode, "gNama": Nama, "gOtority": Otority, "gStatus": Status },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    if (data.result == true) {
                        $("#divmsg").html("Record has been saved successfully !!");
                        setTimeout(function () { window.location.replace("ListAnggota"); }, 1000);
                    }
                    else {
                        alert('There is some error');

                    }

                }

            });
        }        
    });

    $(".edit").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var Nama = "#Nama_" + id;
        var spanNama = "#spanNama_" + id;
        var Otority = "#Otority_" + id;
        var spanOtority = "#spanOtority_" + id;
        var Status = "#Status_" + id;
        var spanStatus = "#spanStatus_" + id;

        $(Nama).show();
        $(spanNama).hide();
        $(Otority).show();
        $(spanOtority).hide();
        $(Status).show();
        $(spanStatus).hide();

        $(this).hide();
        $("#Update_" + id).show();
        $("#Cancel_" + id).show();
    });

    $(".cancel").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var Kode = "#Kode_" + id;
        var spanKode = "#spanKode_" + id;
        var Nama = "#Nama_" + id;
        var spanNama = "#spanNama_" + id;
        var Otority = "#Otority_" + id;
        var spanOtority = "#spanOtority_" + id;
        var Status = "#Status_" + id;
        var spanStatus = "#spanStatus_" + id;
        var Process = "#Process_" + id;
        var spanProcess = "#spanProcess_" + id;

        $(Kode).hide();
        $(spanKode).show();
        $(Nama).hide();
        $(spanNama).show();
        $(Otority).hide();
        $(spanOtority).show();
        $(Status).hide();
        $(spanStatus).show();
        $(Process).hide();
        $(spanProcess).show();

        $(this).hide();
        $("#Update_" + id).hide();

        $("#Edit_" + id).show();
    });

    $(".update").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];

        var Kode = $("#Kode_" + id).val();
        var spanKode = $("#spanKode_" + id).val();
        var Nama = $("#Nama_" + id).val();
        var spanNama = $("#spanNama_" + id).val();
        var Otority = $("#Otority_" + id).val();
        var spanOtority = $("#spanOtority_" + id).val();
        var Status = $("#Status_" + id).val();
        var spanStatus = $("#spanStatus_" + id).val();
        
        if (id != "") {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("UpdateRecord", "Home")',
                data: { "gKode": Kode, "gNama": Nama, "gOtority": Otority, "gStatus": Status },
                dataType: "json",
                beforeSend: function () {//alert(id);
                },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).hide();
                        $("#Cancel_" + id).hide();
                        $("#Edit_" + id).show();

                        var Kode = "#Kode_" + id;
                        var spanKode = "#spanKode_" + id;
                        var Nama = "#Nama_" + id;
                        var spanNama = "#spanNama_" + id;
                        var Otority = "#Otority_" + id;
                        var spanOtority = "#spanOtority_" + id;
                        var Status = "#Status_" + id;
                        var spanStatus = "#spanStatus_" + id;
                        var Process = "#Process_" + id;
                        var spanProcess = "#spanProcess_" + id;

                        $(Kode).hide();
                        $(spanKode).show();
                        $(Nama).hide();
                        $(spanNama).show();
                        $(Otority).hide();
                        $(spanOtority).show();
                        $(Status).hide();
                        $(spanStatus).show();
                        $(Process).hide();
                        $(spanProcess).show();

                        $(spanNama).text($(Nama).val());
                        $(spanOtority).text($(Otority).val());
                        $(spanStatus).text($(Status).val());
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

    $(".delete").live("click", function () {
        var str = $(this).attr("id").split("_");
        id = str[1];
        var Kode = $("#Kode_" + id).val();

        var flag = confirm('Are you sure to delete ??');
        if (Kode != "" && flag) {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("DeleteRecord", "Home")',
                data: { "gKode": Kode },
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {

                    if (data.result == true) {
                        $("#Update_" + id).parents("tr").remove();
                        setTimeout(function () { window.location.replace("ListAnggota"); }, 1000);
                    }
                    else {
                        alert('There is some error');
                    }
                }

            });
        }
    });

</script>


<div id="divmsg" style="color: green; font-weight: bold"></div>
<h2>LIST - DATA ANGGOTA</h2><hr /><br />
<a href="#" class="add">Add New</a>  
<br />
<br />
@grid.GetHtml(htmlAttributes: new { id = "grid" },
 headerStyle:"header",
 tableStyle: "webGrid",
 selectedRowStyle: "select", 
 fillEmptyRows: false,
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 columns: new[] {
 grid.Column("Nomor",header: "Nomor", canSort: false),
 grid.Column(header: "Kode Anggota", format: @<span> <span id="spanKode_@item.Nomor">@item.Kode_Anggota</span> @Html.TextBox("Kode_"+(Int32)item.Nomor,(string)item.Kode_Anggota,new{@style="display:none"})</span>),
 grid.Column(header: "Nama Anggota",format: @<span> <span id="spanNama_@item.Nomor">@item.Nama_Anggota</span> @Html.TextBox("Nama_"+(Int32)item.Nomor,(string)item.Nama_Anggota,new{@style="display:none"})</span>), 
 grid.Column(header: "Otority",format: @<span> <span id="spanOtority_@item.Nomor">@item.Otority</span> @Html.TextBox("Otority_"+(Int32)item.Nomor,(string)item.Otority,new{@style="display:none"})</span>), 
 grid.Column(header: "Status Aktif",format: @<span> <span id="spanStatus_@item.Nomor">@item.Status_Aktif</span> @Html.TextBox("Status_"+(Int32)item.Nomor,(Boolean)item.Status_Aktif,new{@style="display:none"})</span>),
 grid.Column(header: "Process",format: @<span> <span id="spanProcess_@item.Nomor">@item.Process_Date</span> @Html.TextBox("Process_"+(Int32)item.Nomor,(DateTime)item.Process_Date,new{@style="display:none"})</span>), 
 grid.Column(header: "Action",format:@<text> <a href="#" id="Edit_@item.Nomor" class="edit">Edit</a>  <a href="#" id="Update_@item.Nomor" style="display:none" class="update">Update</a>  <a href="#" id="Cancel_@item.Nomor" style="display:none" class="cancel">Cancel</a>  <a href="#" id="Delete_@item.Nomor" class="delete">Delete</a></text>)
})