﻿* {margin: 0; padding: 0;}
body 
{
    background-color: white;
	margin:0;
	padding:0;
	font-family:'Lucida Grande', helvetica, Calibri, sans-serif;
	font-size:12px;
	color:#000;
}
/*#efeeef*/
#body { background-color: white; clear: both; padding-bottom: 35px; }

.dcontent 
{    
    margin: 0 auto;
	padding: 0;		
	width:inherit;
	min-width:800px;
	height:auto;	
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 30px;
    border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.clear-fix:after { content: "."; clear: both; display: block; height: 0; visibility: hidden; }
.button 
{
    border:none;
    background-color: #ccc;
    background-image: -moz-linear-gradient(#ccc, #fff); 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));	
    background-image: -webkit-linear-gradient(#ccc, #fff);	
    background-image: -o-linear-gradient(#ccc, #fff);
    background-image: -ms-linear-gradient(#ccc, #fff);
    background-image: linear-gradient(#ccc, #fff);    
    color:#333;
    padding:5px;
    font-weight:normal;
    /*-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;*/
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
}
    .button:hover 
    {
        background-color: #444;
        background-image: -moz-linear-gradient(#444, #333); 
        background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));	
        background-image: -webkit-linear-gradient(#444, #333);	
        background-image: -o-linear-gradient(#444, #333);
        background-image: -ms-linear-gradient(#444, #333);
        background-image: linear-gradient(#444, #333);
        color:#fff; 
    }

.buttonsmall
{
    height:25px;
    width:auto;    
}

.td1 
{
    width:20%;
    padding: 10px 10px 10px 10px;
}
.td2 
{
    width:auto;
    padding: 10px 10px 10px 10px;
}
.td3 
{
    width:20%;
    padding: 10px 10px 10px 10px;
}
.td4 
{
    width:10%;
    padding: 10px 10px 10px 10px;
}
.td5 
{
    width:10%;
    padding: 10px 10px 10px 10px;
}
.td6 
{
    width:10%;
    padding: 10px 10px 10px 10px;
}

/*WEBGRID*/
.webGrid { margin: 0px; border-collapse: collapse; width: 100%;  background-color:#fff; box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);}
.header { background-color: #ccc; font-weight: bold; color: #333; }
.webGrid th, .webGrid td { border: 1px solid #C0C0C0; padding: 5px; }
.select{background-color: #71857C}