﻿* {margin: 0; padding: 0;}
body 
{
	background-color: white;
	margin:0;
	padding:0;
	font-family:'Maven Pro', helvetica, Calibri, sans-serif;
	font-size:14px;
	color:#000;		
}

a 
{
    color: inherit;
    text-decoration: none;
    border:none;
}
img 
{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#bodyMaster
{
	width:auto;			
}

.header-wrapper 
{
    background-color:#E10E17;
    position:fixed;
    top:0;
	width:100%;
	min-width:480px;
	height:auto;	
	margin:0;
	padding: 0px 0px 0px 0px;		
	color:White;
    z-index: 999;
}

.header-container 
{
    max-width: 1170px;    
    margin-right: 5%;
    margin-left: 5%; 
    height:auto;       
}

.floatleft 
{
    width:auto;
    float:left;
}
.logo-wrapper 
{
    color: rgb(51, 51, 51);
    display: block;
    font-family: 'Maven Pro';
    font-size: 14px;
    font-weight: 300;
    height: 80px;
    line-height: 22px;
    width: 300px;
    float:left;
    vertical-align:middle;
}
.logo-container 
{
    background-image:url("Images/logof5.fw.png");
    background-repeat:no-repeat;
    height:100%;
    width:100%;
}

.menu-wrapper 
{
    display:table;
    font-size: 14px;
    font-weight: 300;
    height: 80px;
    line-height: 22px;
    width: auto;
    min-width:100px;
    float:right;
    text-align:right;    
}
.menu-container 
{
    display:table-cell;
    margin-top:auto;
    margin-bottom:auto;    
    height:100%;
    width:auto;
    vertical-align:middle;      
    text-anchor:middle;
}

.menu-home 
{
    background: #E10E17 url("Images/Home32.png") no-repeat center; 
    background-position: 0px 45%; 
    padding-left:40px;
    font-size:20px;
    font-weight:300;
    text-anchor:middle;    
}
.menu-home:hover
{
    background: #E10E17 url("Images/Home32_hover.png") no-repeat center; 
    background-position: 0px 45%; 
    padding-left:40px;
    font-size:20px;
    font-weight:300;
    text-anchor:middle;
    color:#000;
}
.body-separator-fixed 
{
    margin-top:64px;
}
.body-separator
{
    height:25px;
}
.body-container 
{
    width:auto;
    /*min-height:600px;*/
    height:auto;
    margin:0;
    padding:0;
    background-color:white;
}

.content-center 
{
    margin: 0% 10% 0% 10%;
    
}

.footer-wrapper 
{
    position:static;
    background-color:#141414;    
	width:100%;
    height:auto;
	min-width:480px;
	min-height:80px;     	
	margin:0;
	padding: 0px 0px 0px 0px;		
	color:White;  
    bottom:0;  
}

.footer-container 
{    
    display:table;
    height:100%;
    vertical-align:middle;
    max-width: 1170px;    
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom:0;  
    font-family: 'Maven Pro';
    font-size: 14px;
    font-weight: 300;     
    padding:25px 0px 25px 0px; 
}

.footer-separator 
{
    width:100%;
    height:30px;
}

.dclear
{
    clear:both;    
}