﻿<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>@ViewBag.Title</title>
    <link href="~/App_Themes/Theme1/MyStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/Script/jquery-1.7.1.min.js" type="text/javascript"></script>
    
</head>
<body>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="dcontent clear-fix">
            @RenderBody()
        </section>                
    </div>
</body>
</html>
