﻿@model Latihan.m_anggota

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>m_anggota</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kode_Anggota)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kode_Anggota)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nama_Anggota)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nama_Anggota)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Otority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Otority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status_Aktif)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status_Aktif)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Process_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Process_Date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
