﻿@model Latihan.m_anggota

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>m_anggota</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kode_Anggota)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kode_Anggota)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nama_Anggota)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nama_Anggota)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Otority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Otority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status_Aktif)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status_Aktif)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Process_Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Process_Date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
