﻿@model Latihan.m_anggota

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>m_anggota</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Kode_Anggota)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Kode_Anggota)
            @Html.ValidationMessageFor(model => model.Kode_Anggota)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nama_Anggota)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nama_Anggota)
            @Html.ValidationMessageFor(model => model.Nama_Anggota)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Otority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Otority)
            @Html.ValidationMessageFor(model => model.Otority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status_Aktif)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status_Aktif)
            @Html.ValidationMessageFor(model => model.Status_Aktif)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Process_Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Process_Date)
            @Html.ValidationMessageFor(model => model.Process_Date)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
