﻿@model IEnumerable<Latihan.m_anggota>

@{
    ViewBag.Title = "Home Data Anggota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kode_Anggota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama_Anggota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_Aktif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Process_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kode_Anggota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama_Anggota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_Aktif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Process_Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Kode_Anggota }) |
            @Html.ActionLink("Details", "Details", new { id=item.Kode_Anggota }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Kode_Anggota })
        </td>
    </tr>
}

</table>
